= render partial: 'privacy'

%div.content

  %div.col-12.title
    %h1= t('login.edit-password')

  = form_for :sessions, :url => { :action => "update_password"}, :html => {:class => "form"} do |f|
    
    %div.col-12
      %div.row
        
        %div.col-2
          %div.form-group
            = f.text_field :code_1, autofocus: true, :class => "form-input", required: true, :autocomplete => "done", placeholder: '*', maxlength:"1", style:"text-align: center;"
  
        %div.col-2
          %div.form-group
            = f.text_field :code_2, autofocus: true, :class => "form-input", required: true, :autocomplete => "done", placeholder: '*', maxlength:"1", style:"text-align: center;"
  
        %div.col-2
          %div.form-group
            = f.text_field :code_3, autofocus: true, :class => "form-input", required: true, :autocomplete => "done", placeholder: '*', maxlength:"1", style:"text-align: center;"
  
        %div.col-2
          %div.form-group
            = f.text_field :code_4, autofocus: true, :class => "form-input", required: true, :autocomplete => "done", placeholder: '*', maxlength:"1", style:"text-align: center;"
  
        %div.col-2
          %div.form-group
            = f.text_field :code_5, autofocus: true, :class => "form-input", required: true, :autocomplete => "done", placeholder: '*', maxlength:"1", style:"text-align: center;"
  
        %div.col-2
          %div.form-group
            = f.text_field :code_6, autofocus: true, :class => "form-input", required: true, :autocomplete => "done", placeholder: '*', maxlength:"1", style:"text-align: center;"
  

    %div.form-group.col-12
      %strong#error-password.error-msg
        = f.password_field :password, class: 'form-input', required: true,id:"password"
        %label.form-label{for: "password"}= t('common_texts.password')
        %p#text-password.hide= t('errors.password')
        
    %div.form-group.col-12
      %stron12#error-confirmPassword.error-msg
        = f.password_field :confirmPassword, class: 'form-input', required: true,id:"confirmPassword"
        %label.form-label{for: "confirmPassword"}= t('common_texts.confirmPassword')
        %p#text-confirmPassword.hide= t('errors.confirmPassword')

    %div.row
      %div.col-6{align: 'center'}
        %a.btn.btn-link{href: "/"}= t('buttons.back')
      %div.col-6{align: 'center'}
        %button.btn.btn-login= t('buttons.continue')