= render partial: 'privacy'

%div.content
  %div.title
    %h1= t('login.forgot-password')

  = form_for :sessions, :url => { :action => "email_forgot_pwd"}, :html => {:class => "form"} do |f|
    %div.form-group
      %strong#error-email.error-msg
        = f.email_field :email, class: 'form-input', required: true,id:"email"
        %label.form-label{for: "email"}= t('common_texts.email')
        %p#text-email.hide= t('errors.email')

    %div.row
      %div.col-6{align: 'center'}
        %a.btn.btn-link{href: "/"}= t('buttons.back')
      %div.col-6{align: 'center'}
        %button.btn.btn-login= t('buttons.continue')