%div.form-group.col-4
  %strong#error-name.error-msg
    = f.text_field :name, class: 'form-input', required: true,id:"name", value: @product['name']
    %label.form-label{for: "name"}= t('common_texts.name')
    %p#text-name.hide= t('errors.name')

%div.form-group.col-4
  %strong#error-description.error-msg
    = f.text_field :description, class: 'form-input', required: true,id:"description", value: @product['description']
    %label.form-label{for: "description"}= t('common_texts.description')
    %p#text-description.hide= t('errors.description')

%div.col-12.pt-4
  %h3 Variants
  #variants

%div.col-12.pt-5
  %a#bvariant.btn.btn-primary{style: 'color: white;padding: 1px;'} Add Variant

%div.links.col-6.pt-4
  %a.btn.btn-link{href: "/products"}= t('buttons.back')

%div.button.col-6.pt-4
  %button.btn.btn-login= t('buttons.save')

:javascript

  $('#bvariant').on('click', function(){
    var url = "#{add_variant_products_url}";
    $.get( url ); 
  })